
.classification-grid {
  ul {
    list-style: none;
  }
}

.classification-block {
  // position: absolute;
  float:left;
  width: 16.5%;
  height: 200px;
  border: 1px solid;

  cursor: -webkit-grab;
  cursor: -moz-grab;
  margin: 0;
  background: #cee1f4;
  text-align: center;

  h4 {
    font-size: 14px;
    line-height: 1.1;
  }
  .center {
    width: 100px;
    margin: auto;
  }
  &:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
  }
}

.new {
  background-color: #FF9300;
}

.oos {
  background-color: #B00;
}

.waitlist {
  background-color: #0FF;
}

.not-available {
  background-color: #FAF !important;
}

.legend-grid{
  margin-right: 1em;
  max-width: 930px;
  height: 12px;
  tr:hover td {
    background-color: transparent;
  }
  tr:hover td.new {
    background-color: #FF9300;
  }
  tr:hover td.oos {
    background-color: #B00;
  }
  tr:hover td.waitlist {
    background-color: #0FF;
  }
  tr:hover td.not-available {
    background-color: #FAF !important;
  }
  td {
    font-size: 10px;
    margin: 0;
    padding: 0;
  }
}
.legend-chip {
  width: 4%;
}

.page-actions.toolbar ul.inline-menu {

  #preview-button {
    padding: 0px 8px;
    margin: 0px 0px;
    height: 35px;
    top: 2px;
    position: relative;
  }
  #taxon_menu {
    width: 170px;
  }

  li:not(:first-child):before {
    content: "|";
    color:#fff;
    font-size: x-large;
    font-weight:bolder;
  }
}
