
.classification-grid {
  ul {
    list-style: none;
  }
}

.classification-block {
  // position: absolute;
  float:left;
  width: 16.5%;
  height: 200px;
  border: 1px solid;

  cursor: -webkit-grab;
  cursor: -moz-grab;
  margin: 0;
  background: #cee1f4;
  text-align: center;

  h4 {
    font-size: 14px;
    line-height: 1.1;
  }
  .center {
    width: 100px;
    margin: auto;
  }
  &:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
  }
}

.new {
  background-color: #FF9300;
}
.oos {
  background-color: #B00;
}

.page-actions.toolbar ul.inline-menu {

  #taxon_menu {
    width: 170px;
  }

  li:not(:first-child):before {
    content: "|";
    color:#fff;
    font-size: x-large;
    font-weight:bolder;
  }
}
